nav {
  height: 12vh !important;
  width: 97%;
  position: absolute;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 100;
}

.nav-img-fime {
  height: 100%;
  object-fit: cover;
}

.navbar-nav{
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
	margin-right: 100px;
	width: 200px;
	border-radius: 8px;
}

.nav-item {
  margin: 0px 15px;
}

.goLogin {
  margin-left: 110px;
}
