<div class="row" style="height: 100%; padding-top: 12vh; display: flex; align-items: center; justify-content: center;">
	<div style="width: 70%; height: 60vh;">
		<div class="row pr-3" style="display: flex; justify-content: space-between; align-items: flex-end;">
			<h4>¿Sobre que quieres hablar?</h4>
			<small>{{date | date: 'dd/mm/yyyy'}}</small>
		</div>
		<div class="row">
			<textarea name="discussion" cols="30" rows="10" placeholder="Escribe un comentario..." class="form-control"
				style="border-radius: 10px; margin-top: 10px;" [(ngModel)]="text"></textarea>
		</div>
		<div class="row text-right pt-4" style="display: flex; justify-content: space-between;">
			<button class="btn btn-lg btn-outline-secondary px-5" style="border-radius: 30px;"
				(click)="goBack()">Regresar</button>
			<button class="btn btn-lg btn-success px-5" style="border-radius: 30px;" (click)="add()">Publicar</button>
		</div>
	</div>
</div>
